.music-lesson-info {
    position: absolute;
    background: hsla(var(--navigation-background-h), calc(var(--navigation-background-s)*0.7), calc(var(--navigation-background-l)*1.7), 100%);
    color: white;
    right: 1.4rem;
    top: -2.2rem;
    padding: 0.7rem;
    border-radius: 0.5rem 0.7rem 0rem 0.7rem;
}
